__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.eggs/
pip-log.txt
pip-delete-this-directory.txt
.idea/
.pytest_cache/
.coverage
coverage.xml
.tox/
.cache/
.python-version
.venv/
*.sw*
.DS_Store
drf_example
.ideap

